<!DOCTYPE html>
<html>
   <hr/><br/>
   <body> 
    <div class="container">
        <div class="container ng-scope" id="main" ng-controller="dndCtrlq4">
          {{validate()}}
          <div class="row">
              <div class="span4 offset2">
                  <ul id="sourceList" dnd-between-list="source,targetList" ng-class="{&#39;minimalList&#39;:sourceEmpty()}" class="ui-sortable">
                      <!-- ngRepeat: item in source -->
                      <li class="alert alert-error nomargin ng-scope ng-binding" ng-repeat="item in source">{{item.value}}</li>
                  </ul>
              </div>
              <div class="span4">
                  <ul id="targetList" dnd-between-list="model,sourceList" ng-class="{&#39;minimalList&#39;:modelEmpty()}" class="ui-sortable">
                      <!-- ngRepeat: item in model -->
                      <li class="alert alert-info nomargin ng-scope ng-binding" ng-repeat="item in model">{{item.value}}</li>
                  </ul>
              </div>
          </div>        
    </div>
  </body>
</html>
